<div class="content-home">
  <div class="container">
    <section class="section">
      <header>
        <h1 style="font-family: system-ui, -apple-system, sans-serif;">Detalles del Producto</h1>
      </header>
      <div class="section-body">
        <div class="product-details">
          <div class="product-details-container">
            <ul>
              <li>ID: <b>{{data._id}}</b></li>
              <li>Título: <b>{{data.title}}</b></li>
              <li>Descripción: <b>{{data.description}}</b></li>
              <li>Código: <b>{{data.code}}</b></li>
              <li>Precio: $<b>{{data.price}}</b></li>
              <li>Stock: <b>{{data.stock}}</b></li>
              <li>Categoría: <b>{{data.category}}</b></li>
              <li>Estado: <b>{{#if data.status}}HABILITADO{{else}}INHABILITADO{{/if}}</b></li>
              <li>Disponible: <b>{{#if data.availability}}SI{{else}}NO{{/if}}</b></li>
              <li>
                Imagen:
                <img src="/public/images/{{data.thumbnail}}" alt="Imagen del producto">
              </li>
              <li>Creado: <i>{{data.createdAt}}hs</i></li>
              <li>Actualizado: <i>{{data.updatedAt}}hs</i></li>
            </ul>
          </div>
          <a class="btn" href="/">Volver</a>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="/api/public/js/product.js"></script>